/* youTube Playlist Extension / base */
// YT Playlist

$ytArrowColor: #ccc;

$transitionDefault: all !default;
$transitionTime: 0.2s !default;
@mixin transition($type: $transitionDefault, $time: $transitionTime) {
  -moz-transition: $type ease-in-out $time;
  -o-transition: $type ease-in-out $time;
  -webkit-transition: $type ease-in-out $time;
  transition: $type ease-in-out $time;
}

@mixin scale($size) {
  -moz-transform: scale($size);
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
  transform: scale($size);
}
@mixin backgroundGradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.tx_youtube_playlist {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;

  ::-webkit-scrollbar {
    width: 10px;
    margin-right: -4px;
  }
  ::-webkit-scrollbar-button {

  }
  ::-webkit-scrollbar-track {
    //background-color: #353634;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #606060;
    opacity: 0.4;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #C0C0C0;
    opacity: 1;
  }

  scrollbar-face-color: #353634;
  scrollbar-track-color: transparent;

  .yt_pl {
    text-align: left;

    .hidden {
      display: none;
    }

    .ellipsis {
      overflow:         hidden;
      text-overflow:    ellipsis;
      -o-text-overflow: ellipsis;
      white-space:      nowrap;
    }

    // Main Player
    .yt_pl_main {
      width:            100%;
      height:           520px;
      margin:           0 auto;
      background-color: #2D2D29;
      color:            #DFECE6;
      overflow:         hidden;
      border-top:       1px solid #1D1D1D;
      border-bottom:    1px solid #1D1D1D;
      border-left:      1px solid #1D1D1D;

      .yt_pl_video_selector_container {
        float:            right;
        width:            330px;
        height:           100%;
        min-height:       520px;
        background-color: inherit;
        overflow-y:       scroll;

        .yt_pl_video_selector {
          list-style-type: none;
          padding:         0;
          margin:          0;

          li {
            position:      relative;
            height:        130px;
            border-bottom: 1px solid #272727;
            //background:    linear-gradient(0deg, #2d2d2d, #323232);
            &:last-child {
              border-bottom: none;
            }

            &.selected {
              //background: linear-gradient(0deg, #FAFAFA, #D0D0D0);
              //color:      #2D2D29;
            }

            .yt_pl_video_information {
              position:    absolute;
              z-index:     10;
              bottom:      0.75rem;
              left:        0.75rem;
              line-height: 1;
              margin:      0 0.75rem 0 0;

              .yt_pl_video_title {
                font-size:      1.1em;
                font-weight:    bold;
                vertical-align: middle;
                display:        table-cell;
              }
            }

            .yt_pl_video_thumbnail_container {
              height:   100%;
              position: relative;
              overflow: hidden;

              .yt_pl_video_thumbnail {
                position: absolute;
                height:   100%;
                width:    100%;
                @include scale(1);
                @include transition(transform);

                &:after {
                  content:  "";
                  position: absolute;
                  width:    100%;
                  height:   100%;
                  @include backgroundGradient;
                  @include transition(opacity);
                }
              }
            }

            &:hover .yt_pl_video_thumbnail_container .yt_pl_video_thumbnail {
              @include scale(1.05);
              &:after {
                opacity: 0.5;
              }
            }
          }
        }
      }
      .yt_pl_video_player_container {
        height:           100%;
        background-color: inherit;
        overflow:         hidden;

        .yt_pl_player_wrapper {
          .yt_pl_video_player {
            width:  100%;
            height: 400px;
          }
          .yt_pl_video_information {
            padding:  10px;
            overflow: hidden;
            .yt_pl_video_title {
              font-weight: bold;
              font-size:   1.5em;
              padding:     0 0 10px 0;
            }
            .yt_pl_video_description {
              font-size:               0.9em;
              font-style:              italic;
              -webkit-font-smoothing:  antialiased;
              -moz-osx-font-smoothing: grayscale;
              text-rendering:          optimizeLegibility;
              line-height:             14px;
            }
          }
        }

      }
    }

    // List
    .yt_pl_additional {

      .yt_pl_additionalList {
        position:            relative;
        background-color:    #F3F3F3;
        width:               100%;
        height:              200px;
        margin-top:          20px;
        -webkit-user-select: none;
        -moz-user-select:    none;
        -ms-user-select:     none;
        user-select:         none;

        .yt_pl_additionalList_title {
          position: relative;
          left:     40px;
          line-height: 30px;
          font-weight: bold;
        }

        .yt_pl_additionalList_videos {
          position:    absolute;
          right:       40px;
          left:        40px;
          top:         30px;
          bottom:      10px;
          overflow:    hidden;
          white-space: nowrap;
          section {
            display:     inline-block;
            white-space: nowrap;
          }
        }

      }
      // Scroll Buttons
      .yt_pl_button {
        position: absolute;
        top:      0;
        bottom:   0;
        width:    35px;
        cursor:   pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.03);
        }
        &:before {
          content:       "";
          position:      absolute;
          height:        50px;
          left:          10px;
          top:           50px;
          border-right:  15px solid $ytArrowColor;
          border-top:    30px solid transparent;
          border-bottom: 30px solid transparent;
        }
        &.left {
          left: 0;
          &:hover:before {
            border-right-color: darken($ytArrowColor, 0.1);
          }
        }
        &.right {
          right: 0;
          &:before {
            border-left:  15px solid $ytArrowColor;
            border-right: none;
          }
          &:hover:before {
            border-left-color: darken($ytArrowColor, 0.1);
          }
        }

      }

      .videoItem {
        float: left;
        width: 213px;
        margin-right: 4px;
      }
    }

    // Video Item
    .videoItem {
      position:       relative;
      background:     rgba(255, 255, 255, 0.5);
      overflow:       hidden;
      cursor:         pointer;
      vertical-align: top;

      &.playing {
        &:after {
          position:         absolute;
          top:              10px;
          right:            10px;
          content:          "playing";
          background-color: #d9534f;
          color:            white;
          border-radius:    .25em;
          padding:          .2em .6em .3em;
          font-size:        75%;
          font-weight:      700;
          line-height:      1;
          text-align:       center;
          white-space:      nowrap;
          vertical-align:   baseline;
          display:          inline;
        }
      }

      .yt_pl_video_thumbnail {
        overflow: hidden;
        width:    100%;
        height:   120px;
        position: relative;

        &:after {
          content:  "";
          position: absolute;
          width:    100%;
          height:   100%;
          opacity:  0.3;
          @include backgroundGradient;
          @include transition(opacity, 0.15s);
        }
        img {
          position: absolute;
          width:    100%;
          height:   100%;
          @include scale(1);
          @include transition(transform, 0.15s);
        }
        &:hover {
          img {
            @include scale(1.05);
          }
          &:after {
            opacity: 0;
          }
        }
      }

      .yt_pl_video_information {
        font-size:   0.9em;
        font-style:  italic;
        line-height: 15px;
        white-space: initial;
        padding:     5px;
      }
    }
  }

}

@media (max-width: 768px) {
  .tx_youtube_playlist .yt_pl {
    padding-top: 60px;

    .yt_pl_main .yt_pl_video_selector_container {
      width: 200px;
    }

    .yt_pl_additional .videoItem {
      //    width: calc(100%/3 - 9px);
      width: 197px;
    }
  }
}

@media (max-width: 600px) {
  .tx_youtube_playlist .yt_pl {
    ::-webkit-scrollbar {
      width:        0px;
      margin-right: 5px;
      height:       10px;
    }

    .yt_pl_main .yt_pl_video_selector_container {
      float:       none;
      width:       100%;
      height:      101px;
      min-height:  60px;
      overflow-x:  scroll;
      overflow-y:  auto;
      white-space: nowrap;
      .yt_pl_video_selector li {
        display:  inline-block;
        width:    150px;
        height:   90px;
        overflow: hidden;
        .yt_pl_video_information {
          font-size:   0.8em;
          white-space: initial;
          bottom: 0; 
        }
      }
    }
    .yt_pl_additional .videoItem {
      //    width: calc(50% - 9px);
      width: 197px;
    }
  }
}

@media (max-width: 400px) {
  .tx_youtube_playlist .yt_pl .yt_pl_additional .videoItem {
    //    width: calc(100% - 5px);
    width: 193px;
  }
}